{
  "extends": [
    "@piktew/eslint-config-node"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.ts",
          "**/*.spec.ts"
        ]
      }
    ]
  }
}
